.posts {


}

.posts img {
    max-height: 400px;
    max-width: 100%;
}

.post__image {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: gray;

}

.post {
    background-color: #9bd8d9;
    padding: 10px;
    margin-bottom: 10px;
}