

.navigation {
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding: 10px 0;
}

.auth {
    display: flex;
    justify-content: flex-end;
}

.logout__button {
    height: auto;
    margin-left: 10px;
}